body {
    background-color: rgb(11, 12, 12);
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
}
#titulo {
    color: rgb(202, 190, 14);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    text-align: center;
}
.seccion {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div#historia {
    background-color: rgb(221, 226, 212);
    margin-top: 300px;
    margin-left: 50px;
    display: inline-block;
    width: 600px;
    height: 200px;
    color: black;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    text-align: justify;
}
div#mision {
    background-color: rgb(221, 226, 212);
    display: inline-block;
    margin-top: 380px;
    width: 600px;
    height: 300px;
    margin-left: 100px;
    color: black;
    padding-left: 20px;
    padding-top: 20px;
}
div#destacados {
    background-color: rgb(221, 226, 212); 
    color: black;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    width: 800px;
    height: 400px;
    margin-top: 100px;
    margin-left: 50px;
    text-align: justify;
}
.pie {
    margin-top: 50px;
    margin-left: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pie1 {
    display: inline-block;
    width: 30%;
    text-align: center;
}
.pie2 {
    display: inline-block;
    width: 30%;
    text-align: center;
}
.pie3 {
    display: inline-block;
    width: 30%;
    text-align: center;
}